<div class="app-loader" *ngIf="loader"></div>
<app-popup (sendCount)='display($event)'></app-popup>
<app-header></app-header>
<div class="content-wrapper" style="min-height: 486px;">
    <div class="app-content"></div>
    <section class="content">
        <div class="container-fluid">
            <div class="clearfix hidden-md-up"></div>

            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Change Password</h3>

                        <div class="card-tools">
                            <!-- <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button> -->
                            <button type="button" class="btn btn-tool" routerLink="/dashboard"><i
                                    class="fas fa-times"></i></button>
                        </div>
                    </div>
             
                        <div class="col-6 col-offset-3">
                            <form [formGroup]="changepasswordForm"
                                (ngSubmit)="changepassword(changepasswordForm.value)">
                                <div class="form-group">
                                    <label>Old Password</label>
                                    <input type="password" id="oldpassword" class="form-control" name="oldpassword"
                                        formControlName="oldpassword">
                                    <p class="has-error"
                                        *ngIf="!changepasswordForm.controls['oldpassword'].valid&&isSubmitted">
                                        Please enter old password
                                    </p>
                                </div>

                                <div class="form-group">
                                    <label>New Password</label>
                                    <input type="password" id="password" class="form-control" name="password"
                                        formControlName="password">
                                    <p class="has-error"
                                        *ngIf="!changepasswordForm.controls['password'].valid&&isSubmitted">
                                        Please enter new password
                                    </p>
                                </div>

                                <div class="form-group">
                                    <label>Conform Password</label>
                                    <input type="password" id="cpassword" class="form-control" name="cpassword"
                                        formControlName="cpassword">
                                    <p class="has-error"
                                        *ngIf="!changepasswordForm.controls['cpassword'].valid&&isSubmitted">
                                        Please enter new confirm password
                                    </p>
                                    <p class="has-error"
                                        *ngIf="(changepasswordForm.value.password !== changepasswordForm.value.cpassword)&&(changepasswordForm.controls['cpassword'].valid)">
                                        Passwords don't match.
                                    </p>
                                </div>


                                <div class="form-group wid100 text-center ">
                                    <button class="btn btn-block btn-primary login_btn ptr" type="submit">Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                   
                </div>
            </div>
        </div>
    </section>
</div>