.navbar{
    padding: 10px 0px;
}

.user_circle{
    font-size: 28px;
}
.top-link{
    padding-top: 0.3rem;
}
.user_name{
    float: left;
    padding-right: 10px;
    padding-top: 3px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.logo_wid{
    width: inherit;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: inherit !important;
}

.dropdown-item, .dropdown-footer{
    padding: 0.1rem 1rem;
    text-align: center;
    font-size: 13px;
}

.dropbtn {
    background-color: inherit;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 30px;

  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
//   .dropdown:hover .dropbtn {background-color: #3e8e41;}